# Funcion *print()*

La funcion *print()* en Python se utiliza para mostrar informacion en la salida estandar, que normalmente en la consola o en la terminal. Permite imprimir texto, variables y resultados de calculo, facilitando la visualizacion de datos y la depuracion del codigo.

Se puede imprimir de las siguientes formas:
* Colocando el texto en comillas dobles. ***Ejemplo: print("Texto")***
* Colocando el texto entre comillas simples. ***Ejemplo: print('Texto')***
* Colocando el texto en tres comillas dobles (Esto permite imprimir varias lineas de texto.) ***Ejemplo: print(""""Texto""")***

**Ejemplo utilizando dobles comillas**

In [1]:
print("Hola mundo")

Hola mundo

In [2]:
print("Nombre: Jose")

Nombre: Jose

In [4]:
# se puede agregar un salto de linea un \n
print("Nombre: jose \nEdad: 19")

Nombre: jose
Edad: 19

**Ejemplo utilizando comillas simples**

In [5]:
print('Hola mundo')

Hola mundo

In [6]:
print('nombre: jose \nEdad: 19')

nombre: jose
Edad: 19

**Ejemplo utilizando 3 comillas dobles**

In [7]:
print("""Nombre: Jose
Edad: 19""")

Nombre: Jose
Edad: 19